*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container button{
    padding: 10px;
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
}

.container input{
    padding: 8px;
    border: 1px solid black;
}

.tasks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    flex-direction: column;
    gap: 5px;
    background-color: gray;
    max-width: 500px;
    min-width: 200px;
    max-height: 500px;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}